<div>
  (Component 1: servers done as a selector)<br>
  <p [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{online: serverStatus === 'Online'}">The {{'Server'}} with ID {{ serverId }} is currently {{ getServerStatus() }}.</p>
  (This is an example of String interpolation.)<br>
  <hr>
  <label>Server Name</label>
  <input type="text" class="form-control"
  (input)="onUpdateServerName($event)"/>
  (This is implemented as one way event binding.)

  <input type="text" class="form-control"
  [(ngModel)]="serverName">
  (This is implemented as two way event binding.)<br>
  <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer('SerV5tHttp4200')">Add Server</button>

  <p *ngIf="serverAdded">{{ serverCreationStatus }}</p><br>
  <p *ngIf="!serverAdded">No server added.</p>
  (This is an example of directives. ng If is used for the conditional text.)<br>
  {{ serverName }}<br>
  <app-server *ngFor="let server of servers"></app-server>
</div>
